@import '../../../constants/constants';

.results-list {
  background: var(--color-item);
  box-shadow: 0 4px 17px 0 $color-grey-transparent-7;
  border-radius: 8px;
  padding: 8px 16px;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;

    &--name {
      font-weight: 400;
      font-size: 14px;
      color: var(--color-text-primary);
      word-break: break-word;
    }

    &--description {
      font-weight: 400;
      font-size: 12px;
      color: var(--color-text-secondary);
      margin-top: 2px;
      word-break: break-word;
    }

    &--common-info {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      svg {
        min-width: 12px !important;
        min-height: 12px !important;
        margin-top: 3px;
        flex-shrink: 0;

        &:hover {
          cursor: default !important;
        }
      }
    }

    &--centered-info {
      align-items: center;

      svg {
        margin-top: 0;
      }
    }

    svg:last-of-type {
      min-width: 19px;
      min-height: 19px;
      margin-left: auto;
      flex-shrink: 0;

      &:hover {
        cursor: pointer;
      }
    }

    &--disabled {
      & > svg:last-of-type {
        opacity: 0.25;
        cursor: default !important;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
