@import '../../../constants/constants';

.results-list {
  background: $white-color;
  box-shadow: 0 1px 8px $gray-color;
  border-radius: 8px;
  padding: 16px;

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;

    &--name {
      font-weight: 400;
      font-size: 14px;
      word-break: break-word;
    }

    &--description {
      font-weight: 400;
      font-size: 12px;
      color: $light-black-color;
      margin-top: 2px;
    }

    &--common-info {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      svg {
        min-width: 12px !important;
        min-height: 12px !important;
        margin-top: 3px;

        &:hover {
          cursor: default !important;
        }
      }
    }

    &--centered-info {
      align-items: center;

      svg {
        margin-top: 0;
      }
    }

    svg:last-of-type {
      min-width: 19px;
      min-height: 19px;
      margin-left: auto;

      &:hover {
        cursor: pointer;
      }
    }

    .smartapp-avatar {
      min-width: 32px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}