body {
  margin: 0;
  font-family: Open Sans, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-chip);
  overflow: auto;

  &__light-background {
    background: var(--color-bg-primary);
  }
}
