@import '../../../constants/constants';

.rows-slider {
  .slick-track {
    display: flex;
  }

  .slick-list {
    margin: -8px;
  }

  .slick-slide {
    filter: drop-shadow(0 1px 4px $color-grey-transparent-7);
    margin: 8px 0;

    & > div {
      padding: 0 8px;
    }

    & > div:first-child {
      .rows-slider__item {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 16px;
      }
    }

    & > div:last-child {
      .rows-slider__item {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        &::after {
          content: none;
        }
      }
    }
  }

  .slick-arrow {
    display: none !important;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    background: var(--color-element-on-top);
    box-shadow: 0 0 20px 0 $color-grey-transparent-7;
    padding: 4px;
    z-index: 1000;

    &:hover {
      border-color: var(--color-border-hover);
      background: var(--color-element-on-top-hover);
    }

    &:active {
      background: var(--color-element-on-top-pressed);
    }
  }

  .slick-prev {
    left: 8px;
  }

  .slick-next {
    right: 8px;
  }

  &__w-50 {
    width: 50%;
  }

  &__item {
    width: calc(100% - 32px) !important;
    position: relative;
    display: flex !important;
    align-items: center;
    gap: 16px;
    background: var(--color-item);
    padding: 8px 16px 16px 16px;
    cursor: pointer;

    &--disabled {
      cursor: default;
    }

    &::after {
      position: absolute;
      content: '';
      height: 0.5px;
      width: calc(100% - 80px);
      background: var(--color-separator);
      bottom: 0;
      right: 0;
    }

    &--info {
      min-width: calc(100% - 80px);
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &--name {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--color-text-primary);

      svg {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
      }
    }

    &--is-last {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      &::after {
        content: none;
      }
    }
  }

  &:hover {
    .slick-arrow {
      display: block !important;
    }
  }
}
