@import '../../constants/constants.scss';

.sync-loader {
  position: absolute;
  left: 0;
  right: 0;
  width: 114px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: $light-blue-color;
  border-radius: 100px;
  box-shadow: 0 1px 8px 0 $gray-color;
  padding: 8px 12px;
  margin: 16px auto 0 auto;
  z-index: 1000;
  animation: appear 0.25s linear;

  &__text {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: $black-color;

    &:after {
      content: "...";
      animation: dots 1.25s infinite;
    }
  }

  &__icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dots {
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}