@import '../../constants/constants';

.add-to-dashboard {
  &__search {
    padding: 16px 16px 24px 16px;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 16px;
  }
}
