@import '../../constants/constants';

.search {
  position: relative;
  background: $lighter-gray-color;
  padding: 16px 16px 8px 16px;

  input:focus {
    border: 1px solid $blue-color;
    outline: none;
  }

  &__help-text {
    font-weight: 400;
    font-size: 12px;
    color: $darker-gray-color;
    margin: 4px 0 0 16px;
  }

  svg {
    position: absolute;
    right: 33px;
    top: 30px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}